services:
  web:
    build: .
    command: python manage.py runserver
    volumes:
      - :/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: django_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      python manage.py migrate &&
      python manage.py runserver
